<tr>
  <td><%= train_station.title %></td>
  <td><%= link_to 'Show', train_station %></td>
  <td><%= link_to 'Edit', edit_train_station_path(train_station) %></td>
  <td><%= link_to 'Destroy', train_station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>