<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @train_station.title %>
</p>

<%= link_to 'Edit', edit_train_station_path(@train_station) %> |
<%= link_to 'Back', train_stations_path %>
