<h1>Editing Train Station</h1>

<%= render 'form', train_station: @train_station %>

<%= link_to 'Show', admin_train_stations_path(@train_station) %> |
<%= link_to 'Back', admin_train_stations_path %>
